@model List<Frontend_Cities.Models.CityData>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h4>Welcome to the cities information app</h4>
</div>

<table style="width:100%">
    <thead>
        <tr>
            @{
                var columnwidth = 100 / Model.Count;
            }
            @foreach (var item in Model)
            {
                <td style="width: @columnwidth%">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model)
            {
                <td>
                    <img src="@Url.Content(item.Image)" alt="IMAGES" style="width:80%; height:auto; " />
                </td>
            }
        </tr>
    </tbody>
</table>
